:host {
  .sidebar{
    width: 200px;
    height: 100vh;
    .nav-side {
      width: 100%;
      height: 100%;
      color: white;
      .navbar-title {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 50px;
        font-size: 20px;
        text-decoration: none;
        text-shadow: none;
        color: white;
        background-color: #1b1b1b;
      }
      .ul-side {
        width: 100%;
        height: 100%;
        list-style: none;
        padding: 0;
        background-color: #1f1f1f;
        li {
          padding: 15px 10px;
          font-size: 11px;
          font-weight: 500;
          text-shadow: none;
          .img-seta{
            width: 6px;
            height: 9px;
            margin-right: 10px;
            margin-bottom: 3px;
          }
        }
      }
    }
  }
}
