<div class="sidebar">
  <nav class="nav-side">
      <a class="navbar-title" href="#">Navbar</a>
      <ul class="ul-side">
        <li><img class="img-seta" src="./../../../assets/img//play-arrow.png"> 6M CHECKLIST</li>
        <li><img class="img-seta" src="./../../../assets/img//play-arrow.png"> TTC</li>
        <li><img class="img-seta" src="./../../../assets/img//play-arrow.png"> ENG</li>
        <li><img class="img-seta" src="./../../../assets/img//play-arrow.png"> LGC</li>
        <li><img class="img-seta" src="./../../../assets/img//play-arrow.png"> PM</li>
      </ul>
  </nav>
</div>
