<div class="container">
    <div class="row" style="margin-top: 10%; color: white">
        <div class="col-md-5 text-center">
            <h1><strong>Venturus</strong> </h1><br>
            <h2><strong>Inovação e Tecnologia</strong> </h2>
        </div>
        <div class="col-md-2">
            <div class="linha-vertical"></div>
        </div>
        <div class="col-md-5">
            <form class="form-login">
                <div class="form-group">
                    <label class="label-camp">Username</label> <br>
                    <input type="text" class="field-sizes form-control" />
                </div>
                <div class="form-group">
                    <label class="label-camp">Senha</label> <br>
                    <input type="password" class="field-sizes form-control" />
                </div>
                <br>
                <div class="form-group">
                    <button class=" btn btn-lg field-button btn-success">Entrar</button>
                </div>
            </form>
        </div>
    </div>
</div>