<div class="top-page">
  <div class="container">
    <div class="text-center">
        <h1>Vamos agendar uma reunião?</h1>
        <p>
          <span style="font-size:20px;">
            Ligue (11) 9999-9999 ou envie um e-mail. De segunda à sexta das 08h00 às 18h00.
          </span>
        </p>
    </div><br>
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <form class="form-contato">
          <div class="form-group" >
            <label for="nome">Nome<span class="bfRequired">*</span>
            </label>
            <input class="form-control" type="text" name="nome" id="nome">
          </div>
          <div class="form-group" >
            <label for="email">E-mail<span class="bfRequired">*</span>
            </label>
            <input class="form-control" type="email" name="email" id="email">
          </div>
          <div class="form-group" >
            <label for="telefone">(DDD) Contato<span class="bfRequired">*</span>
            </label>
            <input class="form-control" type="text" name="telefone" id="telefone">
          </div>
          <div class="form-group" >
            <label for="temSite">Têm site?<span class="bfRequired">*</span>
            </label>
            <input class="form-control" type="text" name="temSite" id="temSite">
          </div>
          <div class="form-group" >
            <label  for="ondeNos">Onde nos encontrou?</label>
            <select class="form-control" name="ondeNos" id="ondeNos">
              <option value="Selecione">Selecione</option>
              <option value="Google">Google</option>
              <option value="Facebook">Facebook</option>
              <option value="E-mail Marketing">E-mail Marketing</option>
              <option value="Indicação">Indicação</option>
              <option value="Outros">Outros</option>
            </select>
          </div>
          <div class="form-group" >
            <label for="help">Como podemos lhe ajudar?<span class="bfRequired">*</span></label>
            <textarea class="form-control" type="text" name="help" id="help"></textarea>
          </div>
          <div class="form-group" >
            <input  checked="checked" type="checkbox" name="checkInfo" id="checkInfo">&nbsp;
            <label for="checkInfo">Desejo receber informações da Amidia</label>
          </div>
          <div class="form-group text-right" >
            <button type="button" class="btn btn-lg btn-dark">
              Enviar
            </button>
          </div>
        </form>
      </div>
      <div class="col-md-6 col-sm-12">
        <!-- <div  class="map-company"
              leaflet
              [leafletOptions]="options">
        </div> -->
        <div class="map map-company"
            leaflet
            [leafletOptions]="options"
            [leafletLayersControl]="layersControl"></div>
      </div>
    </div>
  </div>
</div>
