body {
  background: #3b3b3b;
  color: #848484;
  font-weight: 200;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 1px 1px #FFF;
  *::selection {
    background: chartreuse;
    color: black;
  }
}
