<div class="top-page">
  <div class="container">
    <div class="text-center">
        <h1>Criação de Sites e Marketing Digital</h1>
        <p>
          <span style="font-size:20px;">Desenvolvimento de Sites, Hospedagem de Sites e Marketing de Conteúdo</span>
        </p>
    </div><br>
    <div class="row cards">
      <div class="col-md-6 col-sm-12">
        <img src="./../../../../assets/img/md.jpg" style="width: 100%" alt="" srcset="">
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="portfolio-intro">
          <h4 class="portfolio-title">Somos uma Empresa de Marketing Digital</h4>
            <p>Fundada em 2003, a <strong>Amidia Digital Marketing</strong> trabalha para que sua empresa ganhe destaque na internet e conecte clientes, utilizando-se para isso de ferramentas e mídias digitais.<br><br>
               Somos especializados em <a href="https://www.amidia.com.br/criacao-de-site">Criação de Sites</a> e <a href="https://www.amidia.com.br/hospedagem-de-sites">Hospedagem de Sites</a>. Vamos fazer o planejamento e criar estratégias de marketing digital para sua empresa. <a href="https://www.amidia.com.br/marketing-de-conteudo">Marketing de Conteúdo</a>, <a href="https://www.amidia.com.br/google-marketing">Google Marketing</a>, <a href="https://www.amidia.com.br/facebook-marketing">Facebook Marketing</a>, <a href="https://www.amidia.com.br/video-marketing">Vídeo Marketing</a> e <a href="https://www.amidia.com.br/assessoria-de-marketing-digital">Assessoria de Marketing Digital</a>.
            </p><p>
            </p>
        </div>
      </div>
    </div>
    <div class="row cards">
      <div class="col-md-6 col-sm-12">
        <img src="./../../../../assets/img/md.jpg" style="width: 100%" alt="" srcset="">
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="portfolio-intro">
          <h4 class="portfolio-title">Somos uma Empresa de Marketing Digital</h4>
            <p>Fundada em 2003, a <strong>Amidia Digital Marketing</strong> trabalha para que sua empresa ganhe destaque na internet e conecte clientes, utilizando-se para isso de ferramentas e mídias digitais.<br><br>
                Somos especializados em <a href="https://www.amidia.com.br/criacao-de-site">Criação de Sites</a> e <a href="https://www.amidia.com.br/hospedagem-de-sites">Hospedagem de Sites</a>. Vamos fazer o planejamento e criar estratégias de marketing digital para sua empresa. <a href="https://www.amidia.com.br/marketing-de-conteudo">Marketing de Conteúdo</a>, <a href="https://www.amidia.com.br/google-marketing">Google Marketing</a>, <a href="https://www.amidia.com.br/facebook-marketing">Facebook Marketing</a>, <a href="https://www.amidia.com.br/video-marketing">Vídeo Marketing</a> e <a href="https://www.amidia.com.br/assessoria-de-marketing-digital">Assessoria de Marketing Digital</a>.
            </p><p>
            </p>
        </div>
      </div>
    </div>
    <div class="row cards">
      <div class="col-md-6 col-sm-12">
        <img src="./../../../../assets/img/md.jpg" style="width: 100%" alt="" srcset="">
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="portfolio-intro">
          <h4 class="portfolio-title">Somos uma Empresa de Marketing Digital</h4>
            <p>Fundada em 2003, a <strong>Amidia Digital Marketing</strong> trabalha para que sua empresa ganhe destaque na internet e conecte clientes, utilizando-se para isso de ferramentas e mídias digitais.<br><br>
                Somos especializados em <a href="https://www.amidia.com.br/criacao-de-site">Criação de Sites</a> e <a href="https://www.amidia.com.br/hospedagem-de-sites">Hospedagem de Sites</a>. Vamos fazer o planejamento e criar estratégias de marketing digital para sua empresa. <a href="https://www.amidia.com.br/marketing-de-conteudo">Marketing de Conteúdo</a>, <a href="https://www.amidia.com.br/google-marketing">Google Marketing</a>, <a href="https://www.amidia.com.br/facebook-marketing">Facebook Marketing</a>, <a href="https://www.amidia.com.br/video-marketing">Vídeo Marketing</a> e <a href="https://www.amidia.com.br/assessoria-de-marketing-digital">Assessoria de Marketing Digital</a>.
            </p><p>
            </p>
        </div>
      </div>
    </div>
    <div class="row cards">
      <div class="col-md-6 col-sm-12">
        <img src="./../../../../assets/img/md.jpg" style="width: 100%" alt="" srcset="">
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="portfolio-intro">
          <h4 class="portfolio-title">Somos uma Empresa de Marketing Digital</h4>
            <p>Fundada em 2003, a <strong>Amidia Digital Marketing</strong> trabalha para que sua empresa ganhe destaque na internet e conecte clientes, utilizando-se para isso de ferramentas e mídias digitais.<br><br>
                Somos especializados em <a href="https://www.amidia.com.br/criacao-de-site">Criação de Sites</a> e <a href="https://www.amidia.com.br/hospedagem-de-sites">Hospedagem de Sites</a>. Vamos fazer o planejamento e criar estratégias de marketing digital para sua empresa. <a href="https://www.amidia.com.br/marketing-de-conteudo">Marketing de Conteúdo</a>, <a href="https://www.amidia.com.br/google-marketing">Google Marketing</a>, <a href="https://www.amidia.com.br/facebook-marketing">Facebook Marketing</a>, <a href="https://www.amidia.com.br/video-marketing">Vídeo Marketing</a> e <a href="https://www.amidia.com.br/assessoria-de-marketing-digital">Assessoria de Marketing Digital</a>.
            </p><p>
            </p>
        </div>
      </div>
    </div>
    <div class="row cards">
      <div class="col-md-6 col-sm-12">
        <img src="./../../../../assets/img/md.jpg" style="width: 100%" alt="" srcset="">
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="portfolio-intro">
          <h4 class="portfolio-title">Somos uma Empresa de Marketing Digital</h4>
            <p>Fundada em 2003, a <strong>Amidia Digital Marketing</strong> trabalha para que sua empresa ganhe destaque na internet e conecte clientes, utilizando-se para isso de ferramentas e mídias digitais.<br><br>
                Somos especializados em <a href="https://www.amidia.com.br/criacao-de-site">Criação de Sites</a> e <a href="https://www.amidia.com.br/hospedagem-de-sites">Hospedagem de Sites</a>. Vamos fazer o planejamento e criar estratégias de marketing digital para sua empresa. <a href="https://www.amidia.com.br/marketing-de-conteudo">Marketing de Conteúdo</a>, <a href="https://www.amidia.com.br/google-marketing">Google Marketing</a>, <a href="https://www.amidia.com.br/facebook-marketing">Facebook Marketing</a>, <a href="https://www.amidia.com.br/video-marketing">Vídeo Marketing</a> e <a href="https://www.amidia.com.br/assessoria-de-marketing-digital">Assessoria de Marketing Digital</a>.
            </p><p>
            </p>
        </div>
      </div>
    </div>
  </div>
</div>
