@import "./../../../style/vars.scss";

:host {
  position: fixed;
  width: 100%;
  z-index: 9;
  text-shadow: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 5px -3px black;
  .navbar-nav {
    right: 0;
    position: absolute;
    padding-right: 20px;
    .nav-item {
      .nav-link {
        color: $white;
        font-weight: 600;
        font-size: 15px;
        padding: 0 15px;
        display: table-cell;
        vertical-align: middle;
        line-height: 24px;
      }
    }
  }
  .navbar-toggler {
    background-color: $white;
  }
  .navbar-brand {
    color: $white;
    font-weight: 600;
  }

}
