<div class="grid-info">
    <div class="row header-name">
        <div class="">Alisson Narjario Queiroga Diniz</div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-3 foto-user">
            <img class="img-employee-grid" src="../../assets/img/Anselmo.jpeg" />
        </div>
        <div class="col-lg-9 col-md-9 dados-user">
            <h3> ANALISTA DE DESENVOLVIMENTO SR </h3>
            <h4>
                <img src="../../assets/img/phone20.png" /> &nbsp; &nbsp; &nbsp; +55 19 3755-8452
            </h4>
            <h4>
                <img src="../../assets/img/envelopee22.png" /> &nbsp; &nbsp;&nbsp; exemplo@dominio.com
            </h4>
        </div>
    </div>
</div>